@use "common-variables" as common;
@use "functions" as f;
@use "sass:color" as c;

@mixin article-style($color, $border-color: common.$green, $font-size: 1rem) {
    text-align: center;
    border: f.pixelToRem(1px) solid $border-color;
    font-size: $font-size;
    padding: f.pixelToRem(80px);
    padding-top: f.pixelToRem(16px);
    padding-bottom: f.pixelToRem(16px);
    color: $color;
}

.container {
    border: f.pixelToRem(1px) solid common.$red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: f.pixelToRem(30px);

    .title {
        color: common.$green;
        border-bottom: f.pixelToRem(1px) solid common.$blue;
    }

    h2 {
        @extend .title;
        border: 1px solid common.$red;
        padding: 1rem;
    }

    .first-row {
        display: flex;
        flex-direction: row;
        padding: f.pixelToRem(15px);

        article:nth-child(odd) {
            @include article-style(common.$blue);
        }

        article:nth-child(even) {
            @include article-style(common.$red);
        }
    }

    .numbers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        width:98%;

        @mixin square() {
            width: f.pixelToRem(45px);
            height: f.pixelToRem(45px);
            border: 1px solid red;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        $rems: 1rem, 2rem, 3rem;

        @each $rem in $rems {
            .fs-#{$rem} {
                font-size: $rem;
            }
        }

        @for $i from 1 through 20 {
            @if $i ==10 {
                div:nth-child(#{$i}) {
                    @include square;
                    color: red;
                    background-color: blue;
                }
            }

            @else {
                div:nth-child(#{$i}) {
                    @include square;
                    $amount: $i * 5;
                    color: lighten(black, $amount);
                    background: darken(white, $amount);
                }
            }
        }
    }
    
    .footer {
        display: flex;
        padding: f.pixelToRem(15px);

        article {
            @include article-style(common.$green, common.$blue, 2rem);
        }
    }

}